
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
body{
	margin:1%;
	padding:1%;
    /* Font */
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size:150%;

    /* background image */
    background-image: url("../images/backgroundimg.jpg");
    background-size: cover;
    background-color: lightblue;
}

h1{
	font-size: 40px;
	font-weight: bold;
}
nav li {
    padding: 10px;
    background-color: lightblue;
    border: 1px solid magenta;
	width:25%;
	display: inline-block;
	width: 20%;
 
    }

nav li a{
    text-decoration: none;
}


.active{
    background-color:lightgreen;
    font-weight:bold;
    border:2px dotted slategray;
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}

img{
    margin: 8px;
    border: 4px dotted skyblue;
    height: 200px;
    width:auto;
    padding: 2px;
    border-radius: 2px;
}

/* image hover */
img:hover{
    filter:grayscale();
    border: dashed;
}

a:visited{color:#0000FF}

p, h1, h2 {
    padding: 10px;
}

/* MOBILE CHECKPOINT */

/* animation */
.animation{
    animation: mymove 3s;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

@keyframes mymove {
        0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

/* check??????????????????????????????????? */
@media (prefers-reduced-motion) {
    .animation {
      animation: none;
    }
  }


  /* contact form */
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border: 2px dotted grey;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    /* resize: vertical */
  }
  /* submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
    border: black;
  }
  /* Add a background color and some padding around the form */
  .container {
      width: 35%;
    background-color: lightskyblue;
    padding: 30px;
    margin: 0 auto;
  }


/* FLEXBOX FOR EDITS */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 175px ;
}

.gallery img{
    border: none;
    margin: 15px;
    width: auto;
}

/* FLEXBOX FOR INDIA*/
.galleryindia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
}

.card{
    flex-basis: 450px;
    padding: 20px 20px 20px 20px;
}

img{
    width :350px;
    height: 350px ;
}

/* FLEXBOX FOR VOLCANO*/
.volcanosection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
}

.volcanosection img{
    border: none;
    margin: 15px;
    width: auto;
}

footer, h1{
    text-align: center;
}

.headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

p{
    line-height: 25px;
    text-align: center;
}

#volcano{
    text-align: center;
    padding: 35px;
    font-weight: bold;
    font-size: 150%;
}



/* GRID FOR HOME*/
.homegrid{
    display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 30px;
  padding: 20px 150px 20px 150px;
  }

.homegriditem {
margin: 12px;
background: whitesmoke;
border-radius: 12px;
padding: 25px 25px 25px 25px;

grid-column: 1/ span 3;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  padding:50px 100px 25px 100px;
  text-align: center;
}



@media only screen and (min-width: 900px) {

.navbar{
    display: flex;
    flex-direction: row;
}
}

/* GRID FOR HOME*/
/* .homegrid{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  padding: 20px;
  }

.homegriditem {
margin: 12px;
background: whitesmoke;
border-radius: 12px;
padding: 25px;

grid-column: 1/ span 3;
} */

}




@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    a.skip {
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    .intro{
      background-attachment: initial;
    }
  
  }